@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Amiri:wght@400;700&display=swap');


@import "tailwindcss";

body {
  @apply bg-black text-white;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-arabic {
  font-family: 'Amiri', serif;
}

.animate-slide-in {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
